/*
.slick {
  &-slider {
    .slick-initialized {
    }
    .slick-dotted {
    }
  }
  &-list {
    overflow: hidden;
  }
  &-track {
    display: flex;
    align-items: flex-start;
  }
  &-slide {
    .slick-active {
    }
    .slick-current {
    }
    .slick-center {
    }
    .slick-cloned {
    }
  }
  &-arrow {
    .slick-prev {
    }
    .slick-next {
    }
    .slick-disabled {
    }
  }
  &-dots {
    li {
      .slick-active {
      }
      button {
      }
    }
  }
}
*/
