//!------------Variables------------
$mxw: 1180;
$mw1: $mxw + 14;
$mw2: 992.98px;
$mw3: 767.98px;
$mw4: 479.98px;
$bgc: #f8f8f8;
//!------------------------------------
//?------------mixin------------
@mixin font($font_name, $file_name, $weight, $style) {
  @font-face {
    font-family: $font_name;
    font-display: swap;
    src: url("../fonts/#{$file_name}.woff") format("woff"),
      url("../fonts/#{$file_name}.woff2") format("woff2");
    font-weight: #{$weight};
    font-style: #{$style};
  }
}
//?------------------------------------

//?------------fonts------------
//?&subset=cyrillic-ext
@import "fonts";

//*Default font:
$font_family: 'Roboto', sans-serif;
//?------------------------------------

//TODO------------workplace------------
//*---------------reset----------------
@import "reset";
//*------------------------------------
//*------------container---------------
.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background: $bgc;
  font-size: 24px;
}
.container {
  max-width: $mxw + px;
  margin: 0 auto;
  padding: 0 10px;
}
//*-------------main-screen---------------
.main-screen{
  min-height: 100%;
  margin: 15% auto;
  display: flex;
  flex-direction: column;
  &__content{
    max-width: 600px;
    text-align: center;
    line-height: 38px;
  }
  &__file{
    line-height: 30px;
  }
}
.name{
  background-color: rgba($color: #000000, $alpha: 0.8);
  color: #fff;
  display: inline-block;
  border-radius: 15px;
  padding: 0 5px;
}
.download{
  color: #000;
  font-weight: 700;
  display: inline-block;
  text-decoration: underline;
  padding: 5px;
  &:hover{
    text-decoration: none;
    color: rgb(133, 11, 11);
  }
}
.email{
  font-size: 22px;
  &__id{
    font-weight: 300;
    font-style: italic;
  }
}
//*---------------------------------------
//TODO------------------------------------
