<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="author" content="Den Nykypanchuk" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0, user-scalable=0" />
    <title>Nykypanchuk_Denys</title>
    <link rel="stylesheet" href="css/style.min.css" />
    <link rel="shortcut icon" href="img/favicon.svg" type="image/x-icon" />
  </head>
  <body>
    <div class="wrapper">
      <!--Content-->
      <main class="page">
        <div class="main-screen">
          <div class="container">
            <div class="main-screen__content">
              <div class="main-screen__h">Hello there!</div>
              <div class="main-screen__text">My name is <span class="name">Denys Nykypanchuk</span> and i'm <span class="name">programmer!</span></div>
              <div class="main-screen__file">Instead of many words look into my CV 
                <a href="NykypanchukDenysCV.pdf" download="Resume" class="link">
                  <span class="download">here.</span>
                </a>
              </div>
              <div class="email">My Email: <span class="email__id">dennykypanchukfrl@gmail.com</span></div>
            </div>
          </div>
        </div>
      </main>
    </div>
  </body>
</html>